<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Hello {{ user.first_name }},</h2>
    <p>We received a request to reset your password for your E-Hospitality account.</p>
    <p>Click the link below to reset your password:</p>
    <a href="{{ reset_url }}">Reset Password</a>
    <p>This link will expire in 1 hour for security reasons.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,<br>E-Hospitality Team</p>
</body>
</html>
