# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyc.*

# Environments
.env
venv/
ENV/
env/
*.env

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional if you're rebuilding)
**/migrations/*.pyc
**/migrations/__pycache__/