# Python
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.py[cod]
*.pyo
*.pyd
*.db

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyc.*

# Environments
.env
venv/
ENV/
env/
*.env
.env.local

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional if you're rebuilding)
**/migrations/*.pyc
**/migrations/__pycache__/