{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Appointments</h5>
          <p class="card-text">View your appointments for today.</p>
          <a href="{% url 'doctors:todays_appointments' %}" class="btn btn-primary mt-auto">Go to Appointments</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Patients</h5>
          <p class="card-text">View the list of patients you have consulted.</p>
          <a href="{% url 'doctors:patient_list' %}" class="btn btn-primary mt-auto">Go to Patients</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">View and update your profile information.</p>
          <a href="{% url 'doctors:profile' %}" class="btn btn-primary mt-auto">Go to Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</create_file>
