{% extends 'base.html' %}
{% load static %}

{% block title %}Manage {{ role|title }}s{% endblock %}

{% block content %}
    <div class="container mt-4">
    <h1>Manage {{ role|title }}s</h1>
  <a href="{% url 'admins:add_user' role=role %}" class="btn btn-primary mb-3">Add New {{ role|title }}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.get_gender_display }}</td>
            <td>{{ user.date_of_birth }}</td>
            <td>
            <a href="{% url 'admins:edit_user' user.id %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'admins:delete_user' user.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center">No users found.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{% url 'admins:dashboard' %}#users" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to Users Section
        </a>
    </div>
{% endblock %}
